/* for search*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    height: 10px;
}

#my-products{
	background-color: #E2DDD9;
	height: 250px;
}
#my-showcase{
	background-color: #A8A39D;
	height: 250px;
}